/* =======Profile Logo/Modal============= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

body {
  background-color: #294b57 !important;
  /* padding: 20px; */
  height: 100%;
}

.header {
  float: right;
}

.profile_info {
  width: 40px;
  height: 40px;
  background-color: #294b57;
  border-radius: 50%;
  border: 3px solid #19d3ab;
  overflow: hidden;
  cursor: pointer;
}

.info_inner {
  width: 15px;
  height: 15px;
  content: "";
  background-color: #19d3ab;
  margin: 0 auto;
  border-radius: 50%;
  display: block;
  position: relative;
  top: -5px;
}
.info_inner::after {
  width: 60px;
  height: 60px;
  content: "";
  background-color: #19d3ab;
  position: relative;
  top: 20px;
  left: -22px;
  display: block;
  border-radius: 50%;
}

.profile_modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  text-align: left;
  z-index: 20;
}

.active {
  display: block;
}

.profile_modal .modal_wrapper {
  font-family: "Poppins", sans-serif;
  background-color: #19d3ab;
  border-radius: 3rem;
  border: 3px dashed #294b57;
  outline: 0.5rem solid #19d3ab;
  width: 20rem;
  height: 20rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 1.5rem;
  text-align: center;
  animation: slide-up 0.5s forwards cubic-bezier(0.4, 0, 0, 1.5);
  -webkit-animation: slide-up 0.5s forwards cubic-bezier(0.4, 0, 0, 1.5);
}

@keyframes slide-up {
  0% {
    transform: translate3d(-50%, -40%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(-50%, -50%, 0);
    opacity: 1;
  }
}

.profile_label {
  display: block;
  font-size: 1.3rem;
  color: #294b57;
  margin-top: 1rem;
}

.username_section {
  width: 100%;
  line-height: 30px;
}

#user_photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

#profile_email {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  border: none;
  height: 30px;
  text-align: center;
  outline: none;
  border-radius: 100px;
  width: 100%;
  /* background-color: aliceblue; */
  color: #294b57;
  resize: none;
  font-size: 1rem;
  font-weight: 500;
}

#profile_username {
  background-color: transparent;
  border: none;
  height: 30px;
  text-align: center;
  outline: none;
  border-radius: 100px;
  font-family: "Poppins", sans-serif;
  padding: 0 1rem;
  color: #294b57;
  font-size: 1.5rem;
  font-weight: 600;
}

#profile_email::placeholder {
  color: #294b57;
  font-size: 1.3rem;
  font-weight: 500;
}

.profile_btns {
  margin-top: 1.2rem;
}

.profile_btns .signOut_btn {
  width: 45%;
  height: 2.5rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: #294b57;
  font-weight: 600;
  background-color: tomato;
  border: 0.2rem solid #294b57;
  border-radius: 100px;
  padding: 0.3rem 0.7rem;
  text-decoration: none;
  text-align: center;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  transition: -webkit-transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95),
    -webkit-transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.profile_btns .close_btn {
  width: 45%;
  height: 2.5rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: #294b57;
  font-weight: 600;
  background-color: #19d3ab;
  border: 0.2rem solid #294b57;
  border-radius: 100px;
  padding: 0.3rem 0.7rem;
  text-decoration: none;
  text-align: center;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  transition: -webkit-transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95),
    -webkit-transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.profile_btns .close_btn:hover {
  -webkit-transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0);
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0);
  background-color: #294b57;
  color: #19d3ab;
}

.profile_btns .signOut_btn:hover {
  -webkit-transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0);
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0);
  background-color: #294b57;
  color: tomato;
}
/* =======MapStyle============= */

/* =======Map Style No Margin======== */

#map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  border: none;
  top: 0;
  bottom: 0;
}

.header {
  margin: 1rem 1rem;
  position: absolute;
  right: 0;
  z-index: 10;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 24rem;
  padding-top: 1rem;
  padding-left: 1rem;
  height: inherit;
}

.searchbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  z-index: 10;
}

.entered-location,
.search {
  height: 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 100px;
}

.entered-location {
  width: 20rem;
  padding: 0.5rem 1rem;
}

.search {
  background-color: #19d3ab;
  padding: 0rem 1rem;
  cursor: pointer;
}

.stations {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow-y: scroll;
  z-index: 10;
}

.station {
  border-bottom: 1px solid #294b57;
  cursor: pointer;
}

.station:hover {
  background-color: #d3f1eb;
}

.station-title {
  font-size: 1.2rem;
  line-height: 1.05;
  padding: 0.7rem 0.7rem 0rem 0.7rem;
}

.station-info {
  padding: 0rem 0.7rem;
  margin-bottom: 0.5rem;
}

.station-info ul li:not(:first-child) {
  color: #4d4d4d;
  font-size: 0.8rem;
}

.distance {
  font-size: 0.9rem;
  color: #4d4d4d;
}

.connection-wrapper {
  font-size: 0.9rem;
  width: 100%;
  line-height: 1.2;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.connection-info {
  list-style-type: none;
}

.instructions {
  display: none;
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow-y: scroll;
  z-index: 10;
}

.instructions.active {
  display: block;
}

.instructions p {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #d3f1eb;
  flex-grow: 1;
}

.instructions ol li {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.hide {
  display: none;
}

@media only screen and (min-width: 200px) and (max-width: 790px) {
  .navigation {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 12rem;
    padding-top: 1rem;
    padding-left: 1rem;
    height: inherit;
    display: none;
  }
  .entered-location {
    width: 12rem;
  }
  .profile_info {
    width: 35px;
    height: 35px;
    background-color: #294b57;
    border-radius: 50%;
    border: 3px solid #19d3ab;
    overflow: hidden;
    cursor: pointer;
  }

  .info_inner {
    width: 10px;
    height: 10px;
    content: "";
    background-color: #19d3ab;
    margin: 0 auto;
    border-radius: 50%;
    display: block;
    position: relative;
    top: -5px;
  }
  .info_inner::after {
    width: 30px;
    height: 30px;
    content: "";
    background-color: #19d3ab;
    position: relative;
    top: 14px;
    left: -10px;
    display: block;
    border-radius: 50%;
  }
}
/* =======Floating menu======== */

.menu {
  width: 150px;
  background: #19d3ab;
  -webkit-clip-path: circle(24px at 30px 24px);
  clip-path: circle(24px at 32px 24px);
  -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  z-index: 10;
}

.menu:hover {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -webkit-clip-path: circle(390px at 225px 24px);
  clip-path: circle(390px at 150px 24px);
}

.menu a {
  display: block;
  line-height: 50px;
  padding: 0 20px;
  cursor: pointer;
  text-decoration: none;
  color: #294b57;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu a:hover {
  background: #294b57;
}

.menu a:active {
  background: #294b57;
}

.navicon {
  padding: 23px 20px;
  cursor: pointer;
  -webkit-transform-origin: 32px 24px;
  -ms-transform-origin: 32px 24px;
  transform-origin: 32px 24px;
}

.navicon div {
  position: relative;
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
}

.navicon div:before,
.navicon div:after {
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
  position: absolute;
}

.navicon div:before {
  top: -7px;
}

.navicon div:after {
  top: 7px;
}
