/* =======Profile Logo/Modal============= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

body {
  background-color: #294b57 !important;
  /* padding: 20px; */
  height: 100%;
}

.profile_modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  text-align: left;
  z-index: 20;
}

.active {
  display: block;
}

.profile_modal .modal_wrapper {
  font-family: "Poppins", sans-serif;
  background-color: #19d3ab;
  border-radius: 3rem;
  border: 3px dashed #294b57;
  box-shadow: 0 0 0 0.5rem #19d3ab;
  width: 20rem;
  height: 20rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 1.5rem;
  text-align: center;
  animation: slide-up 0.5s forwards cubic-bezier(0.4, 0, 0, 1.5);
  -webkit-animation: slide-up 0.5s forwards cubic-bezier(0.4, 0, 0, 1.5);
}

@keyframes slide-up {
  0% {
    transform: translate3d(-50%, -40%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(-50%, -50%, 0);
    opacity: 1;
  }
}

.profile_label {
  display: block;
  font-size: 1.3rem;
  color: #294b57;
  margin-top: 1rem;
}

.username_section {
  width: 100%;
  line-height: 30px;
}

#user_photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

#profile_email {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  border: none;
  height: 30px;
  text-align: center;
  outline: none;
  border-radius: 100px;
  width: 100%;
  color: #294b57;
  resize: none;
  font-size: 1rem;
  font-weight: 500;
}

#profile_username {
  background-color: transparent;
  border: none;
  height: 30px;
  text-align: center;
  outline: none;
  border-radius: 100px;
  font-family: "Poppins", sans-serif;
  padding: 0 1rem;
  color: #294b57;
  font-size: 1.5rem;
  font-weight: 600;
}

#profile_email::placeholder {
  color: #294b57;
  font-size: 1.3rem;
  font-weight: 500;
}

.profile_btns {
  margin-top: 1.2rem;
}

.profile_btns .signOut_btn {
  width: 45%;
  height: 2.5rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: #294b57;
  font-weight: 600;
  background-color: tomato;
  border: 0.2rem solid #294b57;
  border-radius: 100px;
  padding: 0.3rem 0.7rem;
  text-decoration: none;
  text-align: center;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  transition: -webkit-transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95),
    -webkit-transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.profile_btns .close_btn {
  width: 45%;
  height: 2.5rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: #294b57;
  font-weight: 600;
  background-color: #19d3ab;
  border: 0.2rem solid #294b57;
  border-radius: 100px;
  padding: 0.3rem 0.7rem;
  text-decoration: none;
  text-align: center;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  transition: -webkit-transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95),
    -webkit-transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.profile_btns .close_btn:hover {
  -webkit-transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0);
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0);
  background-color: #294b57;
  color: #19d3ab;
}

.profile_btns .signOut_btn:hover {
  -webkit-transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0);
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0);
  background-color: #294b57;
  color: tomato;
}

/* =======MapStyle============= */

/* =======Map Style No Margin======== */

#map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  border: none;
  top: 0;
  bottom: 0;
}

.header {
  float: right;
  margin: 1rem 0.5rem;
  position: absolute;
  right: 0;
  z-index: 10;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 24rem;
  padding-top: 1rem;
  padding-left: 1rem;
  height: inherit;
}

.searchbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  z-index: 10;
}

.entered-location,
.search {
  height: 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 100px;
}

.entered-location {
  width: 20rem;
  padding: 0.5rem 1rem;
}

.search {
  background-color: #19d3ab;
  padding: 0rem 1rem;
  cursor: pointer;
}

.stations {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow-y: scroll;
  z-index: 10;
}

.station {
  border-bottom: 1px solid #294b57;
}

.station:hover {
  background-color: #effbff;
}

.station-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.7rem 0rem 0.7rem;
}

.station-title {
  font-size: 1.2rem;
  line-height: 1.05;
  /* padding: 0.7rem 0.7rem 0rem 0.7rem; */
}

.station-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.2rem;
}

.station-button {
  width: 2rem;
  height: 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  border: none;
  outline: none;
  border-radius: 100px;
  background-color: #d3f1eb;
  cursor: pointer;
}

.station-info {
  padding: 0rem 0.7rem;
  margin-bottom: 0.5rem;
}

.station-info ul li:not(:first-child) {
  color: #4d4d4d;
  font-size: 0.8rem;
}

.distance {
  font-size: 0.9rem;
  color: #4d4d4d;
}

.connection-wrapper {
  font-size: 0.9rem;
  width: 100%;
  line-height: 1.2;
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
}

.connection-info {
  list-style-type: none;
  background-color: #92f1dd;
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.instructions,
.station-card {
  display: none;
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow-y: scroll;
  z-index: 10;
}

.instructions.active {
  display: block;
}

.instructions p,
.station-card-title {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #d3f1eb;
  flex-grow: 1;
}

.station-card-title {
  margin-bottom: 0rem;
}

.instructions ol li {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.station-card-usage-type,
.station-card-address,
.station-card-number,
.station-card-website {
  color: #555555;
  padding: 0rem 0.5rem 0rem 0.5rem;
}

.station-card-connection {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.hide {
  display: none;
}

.station-bookmark {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow-y: scroll;
  z-index: 10;
  display: none;
}

/* =======Floating menu======== */

.menu {
  width: 150px;
  background: #19d3ab;
  -webkit-clip-path: circle(20px at 120px 25px);
  clip-path: circle(20px at 125px 25px);
  -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  z-index: 10;
}

.menu:hover {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -webkit-clip-path: circle(390px at 225px 24px);
  clip-path: circle(390px at 150px 24px);
}

.menu a {
  display: block;
  line-height: 50px;
  padding: 0 20px;
  cursor: pointer;
  text-decoration: none;
  color: #294b57;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu a:hover {
  background: rgb(200, 214, 240);
}

.menu a:active {
  background: rgb(200, 214, 240);
}

.navicon {
  padding: 15px 20px;
  cursor: pointer;
  -webkit-transform-origin: 32px 24px;
  -ms-transform-origin: 32px 24px;
  transform-origin: 32px 24px;
}

.navicon div {
  position: relative;
  width: 20px;
  height: 2px;
  background: black (0, 0, 0, 0.87);
}

.navicon:before {
  width: 15px;
  height: 15px;
  content: "";
  background-color: #162f3b;
  border-radius: 50%;
  display: block;
  position: relative;
  z-index: 10;
  float: right;
  right: -4px;
  top: -3px;
}

.navicon:after {
  width: 40px;
  height: 20px;
  content: "";
  background-color: #162f3b;
  position: relative;
  top: 15px;
  left: 86px;
  display: block;
  border-radius: 30px 30px 0 0;
  z-index: 10;
}
@media only screen and (min-width: 200px) and (max-width: 790px) {
  .navigation {
    flex-direction: column;
    gap: 0.5rem;
    width: 12rem;
    padding-top: 1rem;
    padding-left: 1rem;
    height: inherit;
  }
  .entered-location {
    width: 12rem;
  }
  .menu {
    width: 80px;
    z-index: 10;
    -webkit-clip-path: circle(16px at 55px 16px);
    clip-path: circle(16px at 55px 16px);
  }

  .menu a {
    font-size: 0.8rem;
    line-height: 40px;
    padding: 0 10px;
  }

  .navicon:after {
    width: 30px;
    height: 15px;
    left: 21px;
    top: 6px;
    border-radius: 22.5px 22.5px 0 0;
  }
  .navicon:before {
    top: -10px;
    left: 3px;
  }
  #currentBtn {
    width: 12rem;
    height: 2rem;
    font-size: 0.8rem;
  }
}
/************** bookmark *************/

.bm_btn {
  float: right;
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 15px;
  border-radius: 50%;
  border: none;
  color: #19d3ab;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  transition: -webkit-transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95),
    -webkit-transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.location_form {
  background: #ffffff;
  border-radius: 5px;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.4) all;
  z-index: 11;
  margin: 0 auto;
  position: relative;
  font-size: 16px;
  line-height: 1.5;
  max-width: 450px;
  transform: translate(0, 150%);
}

.form_title {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.location_form input[type="text"] {
  padding: 30px 20px;
  border: none;
  box-shadow: none;
  font-size: 14px;
  width: 100%;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.4) all;
}
.location_form input[type="text"]:focus {
  outline: none;
}

.form_bottom {
  padding: 6px 10px 7px;
  text-align: right;
  border-top: 1px solid #ddd;
}
.form_bottom button {
  padding: 5px 15px;
  font-size: 12px;
  background-color: #162f3b;
  border: none;
  color: white;
}

.close_button {
  background: transparent;
  float: right;
  font-size: 18px;
  border: none;
}

.bookmark_modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  text-align: left;
  z-index: 20;
}

.station-bookmark li {
  font-size: 1rem;
  line-height: 1.05;
  padding: 0.7rem;
  border-bottom: 1px solid #294b57;
}

.bookmark_thing {
  cursor: pointer;
}
.content {
  margin: 0 auto;
  position: relative;
  font-size: 16px;
  line-height: 1.5;
  max-width: 450px;
}

.floater {
  background: #ffffff;
  border-radius: 5px;
  margin-bottom: 30px;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.4) all;
  z-index: 11;
}

.floater input[type="text"] {
  padding: 30px 20px;
  border: none;
  box-shadow: none;
  font-size: 14px;
  width: 100%;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.4) all;
}

.floater input[type="text"]:focus {
  outline: none;
}

.floater-bottom {
  padding: 6px 10px 7px;
  text-align: right;
  border-top: 1px solid #ddd;
}

.floater-bottom button {
  padding: 5px 15px;
  font-size: 12px;
  background-color: #162f3b;
  border: none;
  color: white;
}

.floater-bottom:hover button {
  background: #162f3b;
  text-decoration: none;
}

.overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 20;
  transition: 0.3s ease opacity;
  pointer-events: none;
}

.close_button {
  background: transparent;
  float: right;
  font-size: 18px;
  border: none;
}

.show-floater .floater {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.show-floater .floater input[type="text"] {
  padding: 50px 20px;
  font-size: 18px;
}

.show-floater .overlay {
  opacity: 1;
  pointer-events: all;
}

/*Bookmark List*/

.bookmarks-list {
  position: relative;
  z-index: 9;
}

.bookmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: rgba(22, 47, 59, 0.8);
  color: #fff;
  padding: 20px;
  transition: 0.3s ease all;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

.bookmark:hover {
  color: #36656f;
  text-decoration: none;
}

.bookmark:visited .bookmark:active {
  color: #fff;
  text-decoration: none;
}

.bookmark:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.bookmark:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 0;
}

.bookmark .img {
  background-color: #bbb;
  border-radius: 5px;
  background: url();
  background-size: cover;
  background-position: top center;
  width: 120px;
  height: 60px;
  margin: 20px;
}

.bookmark .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bookmark .fa-trash {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ddd;
  transition: 0.5s ease color;
  cursor: pointer;
}

.bookmark:hover .fa-trash {
  color: #999;
}
