body {
	background-color: #294b57;
}

.main_logo {
	animation: flicker 4s infinite;
	color: #19d3ab;
	font-family: Bungee Outline;
	font-size: 140px;
	font-weight: 600;
	line-height: 170px;
	margin-top: 80px;
	text-align: center;
}

@keyframes flicker {
	0% {
		opacity: 0.1;
	}

	2% {
		opacity: 1;
	}
	8% {
		opacity: 0.1;
	}
	9% {
		opacity: 1;
	}
	12% {
		opacity: 0.1;
	}
	20% {
		opacity: 1;
	}
	25% {
		opacity: 0.3;
	}
	30% {
		opacity: 1;
	}

	70% {
		opacity: 0.7;
	}

	72% {
		opacity: 0.2;
	}

	77% {
		opacity: 0.9;
	}
	100% {
		opacity: 0.9;
	}
}

.btn_wrapper {
	text-align: center;
}

.signUp_btn {
	backface-visibility: hidden;
	background-color: #294b57;
	border-color: #19d3ab;
	border-radius: 3rem;
	border: 0.3rem solid transparent;
	color: #19d3ab;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin-right: 100px;
	padding: 0.7rem 2rem;
	text-align: center;
	text-decoration: none;
	transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.signUp_btn:hover {
	transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0);
}

.signIn_btn {
	backface-visibility: hidden;
	background-color: #294b57;
	border-color: #19d3ab;
	border-radius: 3rem;
	border: 0.3rem solid transparent;
	color: #19d3ab;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 0.7rem 2rem;
	text-align: center;
	text-decoration: none;
	transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.signIn_btn:hover {
	transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0);
}
